.nav{
    height: 100vh;
    width: max-content;
    background-color: #03B2AE;
    padding: 10px 5px;
    display: flex;
    
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}


.collegeIcon{
    color: white;
    padding: 8px ;
    margin: 10px 0px;
    background-color: black;
    border-radius: 100%;
}
button {
    padding: 0;
    background-color: #03B2AE;
    border: none;
    cursor: pointer;
}
.Icon{
    color: white;
    display: block;
    padding: 15px;
    
}
.icons-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.icons-2{
    display: flex;
    flex-direction: column;
}