.Leftnav{
    background-color: #03B2AE;
    border-left: 1px solid rgba(22, 22, 50, 0.151);
    width: 280px;
    position: relative;
    height: 100vh;
    padding-bottom: 20px;
}

.head{
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    color: #D6FFFF;

}
.toggleIcon{
    color: #7af0f0;
    padding-top: 26px;
}
.adminNav{
    display: flex;
    flex: 50%;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #3bd0d0;
}
.adminNav li{
    padding: 0 10px;
    
    list-style-type: none;
}
.adminNav li:first-child{
    margin-left: -29px;
}
.univercity{
    text-decoration: none;
    font-size: 20px;
    color: #D6FFFF;
}
